body {
    background-image: url('/html/images/background.jpg');
    border: transparent solid 1px;
  }
  .co_container {
    background-color:  white;
    border:  absolute 0.5px solid gray;
    margin: 100px;
    box-shadow: 5px 10px 18px gray;
  }
  .co_flex-item {
    padding-left: 10px;
    flex: 6;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
  }
  .co_flex-container {
    border: 0.1px solid grey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .co_growCheck {
    flex-grow: 1;
  }
  .co_growPay {
    flex-grow: 3;
  }
  .co_shipgrow{
    flex-grow: 7;
  }
  .co_close {
    padding: 20px;
  }
  .co_newCard{
    max-width: 350px;
    margin: auto;
    text-align: center;
  }
  .co_cartbackground {
    display: flex;
    flex:2;
    background-color: lightgray;
    width: 40%;
  }
  ul.co_breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  ul.co_breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  #cardnum,#name{
    padding: 1%;
    width: 70%;
    height: 50%;
    margin-left:5%;
    margin-right: 5%;
}
#exp{
  padding: 1%;
  width: 33%;
  height: 50%;
  margin-left: 10%;
}
#cvv{
  padding: 1%;
  width: 33%; 
  height: 50%;
  margin-right: 10%;
}

#button{
    background-color: 	green;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    width: 74%;
    size: 90px;
    border: 1px gray;
    color: white;
}
  .co_wallet {
    display:inline-flex;
  }
  .co_imgWallet {
    display: block;
    border: 1px solid grey;
    margin-top:  15px;
    margin-left: 45px;
    width: 50%;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  .co_imgWallet:hover {
    box-shadow: 0 0 0 10px lightgray;
  }
  .co_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  .co_caption {
    margin-top: 0px;
    margin-left: 20%;
    font-size: small;
  }

  .co_first {
  margin-left: 2%;
  margin-top: 2%;
  flex: auto;
  height: 0%;
  }
  .co_amt {
    flex: 6;
    margin:0%;
    margin-left: 2%;
    font-size: medium;
    }
    
  div.co_amt {
    margin-top: 0%;
  text-align: justify;
  }
  
  .co_product {
  flex: 1;
  }
  
  .co_item {
  display: flex;
  flex-direction: row;
  flex: 2;
  }
  
  .co_item_image {
  border: 5px solid grey;
  width: 50px;
  height: 50px;
  }
  
.co_buy {
  margin: 0%;
  margin-left: 1%;
  flex: 1;
  text-align: left;
  font-size: 14px;
  }
  
  .co_price {
  flex: 1;
  margin: 0%;
  margin-right: 2%;
  font-size: 12px;
  text-align: right;
  }
  .co_second {
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 3%;
    flex: auto;
    }
  summary.co_buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 10px;
  }  