.container {
  border: 0.5px solid gray;
  margin: 100px;
  box-shadow: 5px 10px 18px gray;
}
.flex-item {
  padding-left: 10px;
  text-align: left;
  line-height: 50px;
  font-size: 15px;
}
.flex-container {
  border: 0.1px solid grey;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.grow1 {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 3;
}
.close {
  padding: 20px;
}
.background {
  background-color: rgb(216, 206, 206);
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}