body {
    background-image: url('/html/images/background.jpg');
    border: transparent solid 1px;
  }
  img {
    width: 29%;
    margin: 1px;
  }

  .co_container {
    display: flex;
    flex-direction: column;
    background-color:grey;
    padding: 1px;
    margin: 10%;
    box-shadow: 10px 5px 5px gray;
  }
  .co_checkout--container1 {
    flex: 1;
    border: 1px;
    margin: 1px;
    display: flex;
    line-height: 30px;
    background-color:white;
  }
  .co_item--checkout {
    flex: 1;
    display: flex;
    margin: 1px;
    margin-right: 0.2%;
    justify-content: space-between;
  }
  .co_checkout1 {

    display: inline;
    flex:5;
  }
  ul.co_breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  ul.co_breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  .co_close {
    padding: 20px;
  }
  .co_payment--container2 {
    flex: 1;
    display: flex;
    padding: 1px;
    margin: 1px;
    background-color: white;
  }
  .co_flex--payment {
    display: flex;
    flex: 4;
    height: 100%;
    flex-direction: column;
    background-color:white;
  }

  .co_wallet{
    padding-top: 2%;
    flex: 1;
    height: 40%;
  }
  
  .co_flex--img {
    margin-left: 1%;
    margin-right: -5%;
    margin-top: 5%;
  }
  .co_img--wallet {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 1px;
    
  }
  
  .co_img--wallet:hover {
    opacity: .5;
  }
  .co_caption {
    margin-top: 0px;
    margin-left: 20%;
    text-align: left;
    font-size: small;
  }
    
  .co_newCard{
    max-width: 350px;
    margin: 10px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 5%;
    height: 10%;
    text-align: center;
  }
 
  #cardnum,#name{
    padding: 2%;
    width: 70%;
    height: 50%;
    margin-left:5%;
    margin-right: 5%;
}
#exp{
  padding: 2%;
  width: 32%;
  height: 50%;
  margin-left: 10%;
}
#cvv{
  padding: 2%;
  width: 32%; 
  height: 50%;
  margin-right: 10%;
}
#button{
  background-color: 	green;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  width: 75%;
  size: 90px;
  border: 1px gray;
  color: white;
}
  .co_cartbackground {
    display: flex;
    flex:2;
    flex-grow: 1;
    position: relative;
    background-color: rgb(252, 252, 252);
    width: 40%;
  }


  .co_first {
  margin-left: 2%;
  margin-top: 2%;
  flex: auto;
  height: 0%;
  }
  .co_item {
    display: flex;
    flex-direction: row;
    flex: 2;
    }
    .co_product {
      flex: 1;
      }
    .co_item--image {
    margin-top: 2px;
    border: 5px solid grey;
    width: 50px;
    height: 50px;
    }
  .co_amt {
    flex: 6;
    margin:0%;
    margin-left: 2%;
    font-size: medium;
    }
    
  div.co_amt {
    margin-top: 0%;
  text-align: justify;
  }

.co_buy {
  margin: 0%;
  margin-left: 1%;
  flex: 1;
  text-align: left;
  font-size: 14px;
  }
  
  .co_price {
  flex: 1;
  margin: 0%;
  position: relative;
  margin-right: 2%;
  font-size: 12px;
  text-align: right;
  }
  .co_second {
    margin-top: 15%;
    margin-left: 2%;
    margin-bottom: 3%;
    flex: auto;
    }
  summary.co_buy {
    margin-left: 1%;
    flex: 1;
    text-align: left;
    font-size: 10px;
  }  

  @media screen and (min-width:992px)
  {
    .co_container{
      margin-left: 100px;
      margin-right: 100px;
    }
    .co_payment--container2{
      flex: 3;

    }
    .co_cartbackground{
      display: flex;
      flex: 2;
    }
  }
@media screen and (max-width:992px)
{
  .co_container{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:992px)
{
  .co_payment--container2{
    flex: 1;
  }
  .co_cartbackground{
    flex: 2;
  }
}
@media screen and (max-width:600px){
.co_payment--container2{
  flex-direction: column-reverse;
}
.co_cartbackground{
  width: 100%;
}
.co_flex--payment{
  width: 100%;
}

}
@media screen and (max-width:768px) 
{
.co_checkout1{
  display: none;
}
.co_flex--payment{
  width: 100%;
}
.co_cartbackground{
  width: 100%;
}
}
@media screen and (max-width:400px)
{
  .co_flex--img{
    display: flex;
    flex-direction: column;
  }
  img {
    width: 78%;
    margin: 25px;
    }
}

